@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
  background-color: #2157c2;
}

h1 {
  font-size: 25px;
  color: white;
  text-align: center;
  justify-content: center;
}

p {
  font-size: 20px;
  color: white;
  text-align: center;
  justify-content: center;
}
